h1 {
  text-align: center;
  font-size: 60px;
  text-transform: capitalize;
}

nav {
  text-align: center;
}

/* this means find the nav element and apply styling to all the a tags inside the nav so the <a> outside nav won't get it */
nav a {
  color: red;
}

/* a {
  font-size: 24px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
} */
